.container-side-nav-bar {
  align-items: flex-start;
  background-color: rgb(57, 71, 87);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin-right: 10px;
  max-width: 250px;
  min-width: 250px;
  position: fixed;
  left: 0;
}
.container-sub-nav-mobile-left-flyout {
  display: none;
}
.side-nav-bar-left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 250px;
  min-width: 250px;
}
.side-nav-btn {
  align-items: center;
  box-sizing: border-box;
  color: #ccc;
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  font-weight: 400;
  height: 40px;
  justify-content: flex-start;
  padding: 0px 20px;
  text-transform: capitalize;
  width: 100%;
}
.side-nav-btn:active,
.side-nav-btn:focus,
.side-nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.10);
  color: #fff;
}
#side-nav-current {
  background-color: rgba(255, 255, 255, 0.06);
  color: #fff;
}
.container-sub-nav-mobile-left {
  display: none;
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 768px) {
  .container-side-nav-bar {
    display: none;
  }
  .container-sub-nav-mobile-left-flyout {
    align-items: flex-start;
    background-color: rgb(57, 71, 87);
    box-shadow: 8px 0px 10px 0 rgba(0, 0, 0, 0.65);
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    left: 0;
    margin-right: 0px;
    max-width: 250px;
    min-width: 250px;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .sub-nav-mobile-btn-left-flyout-label {
    display: flex;
  }
  .fas.fa-angle-double-left {
    padding-left: 10px;
  }
  .sub-nav-mobile-left-flyout-header {
    align-items: center;
    background-color: rgb(46, 57, 71);
    border-bottom: 2px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
  }
  .sub-nav-mobile-btn-left-close {
    align-items: center;
    background-color: rgb(46, 57, 71);
    border-bottom: solid 2px #fff;
    box-sizing: content-box;
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    font-weight: 300;
    height: 100%;
    justify-content: center;
    margin-top: 2px;
    padding: 0px;
    text-transform: capitalize;
    width: 86px;
  }
  .sub-nav-mobile-btn-left-close:active,
  .sub-nav-mobile-btn-left-close:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: solid 2px rgb(88, 183, 255);
  color: rgb(255, 255, 255);
}
}

@media screen and (max-width: 600px) {
}

.fade-in {
  animation: fadeIn ease 0.4s;
  -webkit-animation: fadeIn ease 0.4s;
  -moz-animation: fadeIn ease 0.4s;
  -o-animation: fadeIn ease 0.4s;
  -ms-animation: fadeIn ease 0.4s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
