.container-side-nav-bar {
  align-items: flex-start;
  background-color: rgb(57, 71, 87);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin-right: 10px;
  max-width: 250px;
  min-width: 250px;
  position: fixed;
  left: 0;
}
.side-nav-bar-left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 250px;
  min-width: 250px;
}
.side-nav-btn {
  align-items: center;
  box-sizing: border-box;
  color: #ccc;
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  font-weight: 400;
  height: 40px;
  justify-content: flex-start;
  padding: 0px 20px;
  text-transform: capitalize;
  width: 100%;
}
.side-nav-btn:active,
.side-nav-btn:focus,
.side-nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.10);
  color: #fff;
}
#side-nav-current {
  background-color: rgba(255, 255, 255, 0.06);
  color: #fff;
}
.container-sub-nav-mobile-left {
  display: none;
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 768px) {
  .container-side-nav-bar {
    display: none;
  }
  .container-sub-nav-mobile-left {
    background-color: rgb(57, 71, 87);
    display: flex;
    height: 100vh;
    left: 0;
    margin-right: 0px;
    position: absolute;
    top: 54px;
    z-index: 10;
  }
  .mobile-xxxxx {
    height: 38px;
  }
  .sub-nav-mobile-btn-left-close {
    align-items: center;
    background-color: rgb(46, 57, 71);
    border-bottom: solid 2px rgb(255, 255, 255);
    box-sizing: content-box;
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    font-weight: 300;
    height: 100%;
    justify-content: center;
    margin-top: 2px;
    padding: 0px;
    text-transform: capitalize;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
}

